/*Price Banner*/
#banner {
 width: 100%;
 min-height: 100px;
 background-color: #F25F5C;
 color: white;
}
#price-output {
  text-align: right;
  margin-right: 25px;
  font-size: 35px;
  line-height: 50px;
}

#business-name {
  margin-left: 25px;
  font-size: 50px;
}

/*#pricing {
  width: 500px;
  margin-left: auto;
  margin-right: 0;
}*/

/*Main Content*/

body {
  background-color: #247BA0;
}

.red {
  color: #F25F5C;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
#main-container {
  padding-top: 95px;
}

#topping-form {
  margin: 0;
}

.btn {
  width: 100%;
  background-color: #FFE066;
  color: #50514F;
  font-size: 16px;
  font-weight: bold;
}

#pending-order .btn {
  width: 48%;
}

/*Food Items*/
.item img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 10px auto 30px;
  border: 3px #FFE066 solid;
}

.item {
  border: 5px solid #247BA0;
  padding: 3%;
  min-height: 526px;
  background-color: #50514F;
  color: white;
}

.item-name {
  margin-bottom: 30px;
  text-align: center;
}

/*Custom Order Area*/
#toppings {
  padding: 3%;
}

.checkbox-inline {
  color: white;
  font-size: 16px;
  margin: 5px 0 !important;
}

#custom-size {
  margin-top: 30px;
  margin-bottom: 40px;
}

/*Order Total*/
.img-container img {
  width: 48%;
  display: inline;
  border: none;
}

.img-container {
  text-align: center;
}

#sidebar {
  width: 250px;
  min-height: 50%;
  position: fixed;
  top: 140px;
  left: -205px;
  background-color: white;
  padding-left: 10px;
  border-right: 3px solid #F25F5C;
  border-top: 3px solid #F25F5C;
  border-bottom: 3px solid #F25F5C;
}

#vertical-text {
  transform: rotate(90deg);
  position: relative;
  left: 97px;
  top: 110px;
}

#sidebar p {
  padding-right: 40px;
}

#sidebar li {
  max-width: 155px;
  font-size: 14px;
  border-bottom: 1px solid #50514F;
}

#sidebar ol {
  margin-bottom: 20px;
}

#sidebar h3 {
  margin-top: -55px;
}
@media (max-width: 767px) {
  .item {
    padding-left: 50px;
    padding-right: 50px;
  }
}
